# MELT

In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('C:/Users/HP/Downloads/weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [8]:
df.pivot(index='day', columns=['temperature', 'windspeed'])

            event
temperature    32     35    28    24    32     31
windspeed       6      7     2     7     4      2
day
1/1/2017     Rain    NaN   NaN   NaN   NaN    NaN
1/2/2017      NaN  Sunny   NaN   NaN   NaN    NaN
1/3/2017      NaN    NaN  Snow   NaN   NaN    NaN
1/4/2017      NaN    NaN   NaN  Snow   NaN    NaN
1/5/2017      NaN    NaN   NaN   NaN  Rain    NaN
1/6/2017      NaN    NaN   NaN   NaN   NaN  Sunny

In [10]:
df.pivot_table(index=pd.Grouper(freq='M', key= 'day'), columns='temperature')

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'

In [12]:
type(df['day'])

pandas.core.series.Series

In [13]:
df['day']=pd.to_datetime(df['day'])

In [19]:
df.pivot_table(index=pd.Grouper(freq='Y', key= 'day'))

            temperature  windspeed
day
2017-12-31    30.333333   4.666667