In [15]:
import pandas as pd

In [16]:
dates= ['2024/01/03', '2024-01-03', '2024.03.01', '2023.01.03', '3 Jan 2024']
pd.to_datetime(dates, format='mixed', dayfirst=True)

DatetimeIndex(['2024-01-03', '2024-01-03', '2024-03-01', '2023-01-03',
               '2024-01-03'],
              dtype='datetime64[ns]', freq=None)

In [17]:
pd.to_datetime('2017/04/03', dayfirst=True)   #yyyy-mm-dd format

Timestamp('2017-03-04 00:00:00')

In [18]:
pd.to_datetime('3*4*2024', format='%d*%m*%Y')

Timestamp('2024-04-03 00:00:00')

In [27]:
df1=pd.DataFrame({'hi':[1,2,3], 'bye':[4,5,6]})
df1

   hi  bye
0   1    4
1   2    5
2   3    6