In [1]:
import pandas as pd
import numpy as np

In [11]:
df=pd.read_csv('C:/Users/Vansh Bansal/Downloads/fb.csv', index_col=['Date'])
df

            Price
Date
15-Aug-17  171.00
16-Aug-17  170.00
17-Aug-17  166.91
18-Aug-17  167.41
21-Aug-17  167.78
22-Aug-17  169.64
23-Aug-17  168.71
24-Aug-17  167.74
25-Aug-17  166.32
28-Aug-17  167.24

In [12]:
df.shift(1)

            Price
Date
15-Aug-17     NaN
16-Aug-17  171.00
17-Aug-17  170.00
18-Aug-17  166.91
21-Aug-17  167.41
22-Aug-17  167.78
23-Aug-17  169.64
24-Aug-17  168.71
25-Aug-17  167.74
28-Aug-17  166.32

In [13]:
df.shift(5)

            Price
Date
15-Aug-17     NaN
16-Aug-17     NaN
17-Aug-17     NaN
18-Aug-17     NaN
21-Aug-17     NaN
22-Aug-17  171.00
23-Aug-17  170.00
24-Aug-17  166.91
25-Aug-17  167.41
28-Aug-17  167.78

In [14]:
#to have 5 day percentage change

df['5 day % chnage']= (df['Price']-df['Price'].shift(5))*100/df['Price'].shift(5)
df

            Price  5 day % chnage
Date
15-Aug-17  171.00             NaN
16-Aug-17  170.00             NaN
17-Aug-17  166.91             NaN
18-Aug-17  167.41             NaN
21-Aug-17  167.78             NaN
22-Aug-17  169.64       -0.795322
23-Aug-17  168.71       -0.758824
24-Aug-17  167.74        0.497274
25-Aug-17  166.32       -0.651096
28-Aug-17  167.24       -0.321850

In [15]:
# to shift dates

df.index

Index(['15-Aug-17', '16-Aug-17', '17-Aug-17', '18-Aug-17', '21-Aug-17',
       '22-Aug-17', '23-Aug-17', '24-Aug-17', '25-Aug-17', '28-Aug-17'],
      dtype='object', name='Date')

In [16]:
df.index=pd.DatetimeIndex(df.index)

In [17]:
df.index

DatetimeIndex(['2017-08-15', '2017-08-16', '2017-08-17', '2017-08-18',
               '2017-08-21', '2017-08-22', '2017-08-23', '2017-08-24',
               '2017-08-25', '2017-08-28'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [19]:
df.index=pd.date_range(start='2017-08-15', end='2017-08-28', freq='B')

In [20]:
df.index

DatetimeIndex(['2017-08-15', '2017-08-16', '2017-08-17', '2017-08-18',
               '2017-08-21', '2017-08-22', '2017-08-23', '2017-08-24',
               '2017-08-25', '2017-08-28'],
              dtype='datetime64[ns]', freq='B')

In [21]:
df.tshift(1)

AttributeError: 'DataFrame' object has no attribute 'tshift'