In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('C:/Users/Vansh Bansal/Downloads/msft.csv', header=1, index_col=['Date Time'])
df

                       Price
Date Time
8/17/2017 9:00:00 AM   72.38
8/17/2017 9:15:00 AM   71.00
8/17/2017 9:30:00 AM   71.67
8/17/2017 10:00:00 AM  72.80
8/17/2017 10:30:00 AM  73.00
8/17/2017 11:00:00 AM  72.50

In [4]:
df.index

Index(['8/17/2017 9:00:00 AM', '8/17/2017 9:15:00 AM', '8/17/2017 9:30:00 AM',
       '8/17/2017 10:00:00 AM', '8/17/2017 10:30:00 AM',
       '8/17/2017 11:00:00 AM'],
      dtype='object', name='Date Time')

In [7]:
df.index=pd.DatetimeIndex(df.index)

In [8]:
df.index

DatetimeIndex(['2017-08-17 09:00:00', '2017-08-17 09:15:00',
               '2017-08-17 09:30:00', '2017-08-17 10:00:00',
               '2017-08-17 10:30:00', '2017-08-17 11:00:00'],
              dtype='datetime64[ns]', name='Date Time', freq=None)

In [10]:
df=df.tz_localize(tz='Asia/Calcutta')

TypeError: Already tz-aware, use tz_convert to convert.

In [11]:
df

                           Price
Date Time
2017-08-17 09:00:00+05:30  72.38
2017-08-17 09:15:00+05:30  71.00
2017-08-17 09:30:00+05:30  71.67
2017-08-17 10:00:00+05:30  72.80
2017-08-17 10:30:00+05:30  73.00
2017-08-17 11:00:00+05:30  72.50

In [12]:
df=df.tz_convert(tz='Europe/London')

In [13]:
df

                           Price
Date Time
2017-08-17 04:30:00+01:00  72.38
2017-08-17 04:45:00+01:00  71.00
2017-08-17 05:00:00+01:00  71.67
2017-08-17 05:30:00+01:00  72.80
2017-08-17 06:00:00+01:00  73.00
2017-08-17 06:30:00+01:00  72.50