# MELT FUNC

In [1]:
import pandas as pd
import numpy as np

In [8]:
data= pd.read_csv('C:/Users/HP/Downloads/weather_by_cities.csv')
data

         day      city  temperature  windspeed   event
0   1/1/2017  new york           32          6    Rain
1   1/2/2017  new york           36          7   Sunny
2   1/3/2017  new york           28         12    Snow
3   1/4/2017  new york           33          7   Sunny
4   1/1/2017    mumbai           90          5   Sunny
5   1/2/2017    mumbai           85         12     Fog
6   1/3/2017    mumbai           87         15     Fog
7   1/4/2017    mumbai           92          5    Rain
8   1/1/2017     paris           45         20   Sunny
9   1/2/2017     paris           50         13  Cloudy
10  1/3/2017     paris           54          8  Cloudy
11  1/4/2017     paris           42         10  Cloudy

In [10]:
df=pd.melt(data, id_vars=['city'])
df

        city     variable     value
0   new york          day  1/1/2017
1   new york          day  1/2/2017
2   new york          day  1/3/2017
3   new york          day  1/4/2017
4     mumbai          day  1/1/2017
5     mumbai          day  1/2/2017
6     mumbai          day  1/3/2017
7     mumbai          day  1/4/2017
8      paris          day  1/1/2017
9      paris          day  1/2/2017
10     paris          day  1/3/2017
11     paris          day  1/4/2017
12  new york  temperature        32
13  new york  temperature        36
14  new york  temperature        28
15  new york  temperature        33
16    mumbai  temperature        90
17    mumbai  temperature        85
18    mumbai  temperature        87
19    mumbai  temperature        92
20     paris  temperature        45
21     paris  temperature        50
22     paris  temperature        54
23     paris  temperature        42
24  new york    windspeed         6
25  new york    windspeed         7
26  new york    windspeed        12
27  new york    windspeed         7
28    mumbai    windspeed         5
29    mumbai    windspeed        12
30    mumbai    windspeed        15
31    mumbai    windspeed         5
32     paris    windspeed        20
33     paris    windspeed        13
34     paris    windspeed         8
35     paris    windspeed        10
36  new york        event      Rain
37  new york        event     Sunny
38  new york        event      Snow
39  new york        event     Sunny
40    mumbai        event     Sunny
41    mumbai        event       Fog
42    mumbai        event       Fog
43    mumbai        event      Rain
44     paris        event     Sunny
45     paris        event    Cloudy
46     paris        event    Cloudy
47     paris        event    Cloudy

In [12]:
df=pd.melt(data, id_vars=['temperature'])
df

    temperature   variable     value
0            32        day  1/1/2017
1            36        day  1/2/2017
2            28        day  1/3/2017
3            33        day  1/4/2017
4            90        day  1/1/2017
5            85        day  1/2/2017
6            87        day  1/3/2017
7            92        day  1/4/2017
8            45        day  1/1/2017
9            50        day  1/2/2017
10           54        day  1/3/2017
11           42        day  1/4/2017
12           32       city  new york
13           36       city  new york
14           28       city  new york
15           33       city  new york
16           90       city    mumbai
17           85       city    mumbai
18           87       city    mumbai
19           92       city    mumbai
20           45       city     paris
21           50       city     paris
22           54       city     paris
23           42       city     paris
24           32  windspeed         6
25           36  windspeed         7
26           28  windspeed        12
27           33  windspeed         7
28           90  windspeed         5
29           85  windspeed        12
30           87  windspeed        15
31           92  windspeed         5
32           45  windspeed        20
33           50  windspeed        13
34           54  windspeed         8
35           42  windspeed        10
36           32      event      Rain
37           36      event     Sunny
38           28      event      Snow
39           33      event     Sunny
40           90      event     Sunny
41           85      event       Fog
42           87      event       Fog
43           92      event      Rain
44           45      event     Sunny
45           50      event    Cloudy
46           54      event    Cloudy
47           42      event    Cloudy

In [13]:
df=pd.melt(data, id_vars=['event'])
df

     event     variable     value
0     Rain          day  1/1/2017
1    Sunny          day  1/2/2017
2     Snow          day  1/3/2017
3    Sunny          day  1/4/2017
4    Sunny          day  1/1/2017
5      Fog          day  1/2/2017
6      Fog          day  1/3/2017
7     Rain          day  1/4/2017
8    Sunny          day  1/1/2017
9   Cloudy          day  1/2/2017
10  Cloudy          day  1/3/2017
11  Cloudy          day  1/4/2017
12    Rain         city  new york
13   Sunny         city  new york
14    Snow         city  new york
15   Sunny         city  new york
16   Sunny         city    mumbai
17     Fog         city    mumbai
18     Fog         city    mumbai
19    Rain         city    mumbai
20   Sunny         city     paris
21  Cloudy         city     paris
22  Cloudy         city     paris
23  Cloudy         city     paris
24    Rain  temperature        32
25   Sunny  temperature        36
26    Snow  temperature        28
27   Sunny  temperature        33
28   Sunny  temperature        90
29     Fog  temperature        85
30     Fog  temperature        87
31    Rain  temperature        92
32   Sunny  temperature        45
33  Cloudy  temperature        50
34  Cloudy  temperature        54
35  Cloudy  temperature        42
36    Rain    windspeed         6
37   Sunny    windspeed         7
38    Snow    windspeed        12
39   Sunny    windspeed         7
40   Sunny    windspeed         5
41     Fog    windspeed        12
42     Fog    windspeed        15
43    Rain    windspeed         5
44   Sunny    windspeed        20
45  Cloudy    windspeed        13
46  Cloudy    windspeed         8
47  Cloudy    windspeed        10